/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
  font-size: 1rem;
  background-color: black;
}
html h1 {
  font-size: 2.5rem;
  text-decoration: underline;
  font-weight: bold;
}
html h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
html h3 {
  font-size: 1.4rem;
  font-weight: bold;
}
html h4 {
  font-size: 1.3rem;
  font-weight: bold;
}
html h5 {
  font-size: 1.2rem;
}
html h6 {
  font-size: 1.1rem;
}
.mainContainer {
  width: 900px;
  margin: 0 auto;
  display: block;
  background-color: black;
  background-image: url(/img/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.mainContainer .headerMain {
  border: outset #cfdae6 1px;
  background-color: #fdfff9;
  border: outset #cfdae6 0.1px;
  padding: 1%;
  margin: 0.5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: black;
  background-image: url(/img/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.mainContainer .headerMain .headerMainTitle {
  width: 40%;
  border: outset #cfdae6 1px;
  background-color: #fbfeff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;
  background-color: #fdfff9;
}
.mainContainer .headerMain .headerMainTitle span {
  margin: 1% 0;
}
.mainContainer .headerMain .navContainer {
  width: 60%;
  padding: 1%;
  margin: 0.5% 0;
  display: flex;
  justify-content: center;
  align-content: center;
}
.mainContainer .headerMain .navContainer .navSection {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}
.mainContainer .headerMain .navContainer .navSection .button {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  background-color: #fbfeff;
  border-radius: 8px;
}
.mainContainer .headerMain .navContainer .navSection .button span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer .headerMain .navContainer .navSection .button:link {
  border: outset #cfdae6 2px;
}
.mainContainer .headerMain .navContainer .navSection .button:visited {
  text-decoration: none;
  border: outset #cfdae6 2px;
}
.mainContainer .headerMain .navContainer .navSection .button:hover {
  border: outset #cfdae6 2px;
  background-color: hsl(197, 100%, 97%);
}
.mainContainer .headerMain .navContainer .navSection .button:active {
  border: inset #cfdae6 2px;
}
@media (max-width: 500px) {
  .mainContainer .headerMain .navContainer .navSection .button {
    padding: 15px;
  }
}
.mainContainer .headerMain .navContainer .navSection #skipNav {
  display: none;
}
@media (max-width: 500px) {
  .mainContainer .headerMain {
    width: 100%;
    flex-direction: column-reverse;
  }
  .mainContainer .headerMain .headerMainTitle {
    width: 100%;
    align-items: center;
    padding: 3%;
  }
  .mainContainer .headerMain .navContainer {
    width: 100%;
  }
  .mainContainer .headerMain .navContainer .navSection {
    margin: 1% auto;
  }
}
.mainContainer .contentMain {
  background-color: #fbfeff;
  background-color: black;
  background-image: url(/img/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 1%;
  margin: 0.5% 0;
  border: outset #cfdae6 0.1px;
  display: flex;
  flex-direction: column;
}
.mainContainer .contentMain .educationMainSection {
  background-color: hsl(197, 100%, 97%);
  padding: 1%;
  margin: 0.5% 0;
  border-top: outset #cfdae6 1.5px;
  border-left: dashed #cfdae6 0.5px;
  border-right: dashed #cfdae6 0.5px;
  border-radius: 10px;
}
.mainContainer .contentMain .educationMainSection .educationSchool {
  border: outset #cfdae6 1px;
  background-color: #fdfff9;
  padding: 1%;
  margin: 0.5% 0;
}
.mainContainer .contentMain .skillsMainSection {
  background-color: hsl(197, 100%, 97%);
  border-top: outset #cfdae6 1.5px;
  border-left: dashed #cfdae6 0.5px;
  border-right: dashed #cfdae6 0.5px;
  border-radius: 10px;
  width: 100%;
  padding: 1%;
  margin: 0.5% 0;
}
.mainContainer .contentMain .skillsMainSection .skillsComputerBoth {
  padding: 1%;
  margin: 0.5% 0;
  border: outset #cfdae6 1px;
  background-color: #fdfff9;
  display: flex;
  flex-direction: column;
}
.mainContainer .contentMain .skillsMainSection .skillsComputerBoth .spanComputersRise {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  text-align: center;
  width: 100%;
}
.mainContainer .contentMain .skillsMainSection .skillsComputerBoth .listSkills {
  line-height: 120%;
}
.mainContainer .contentMain .workExperienceMainSection {
  background-color: hsl(197, 100%, 97%);
  display: flex;
  padding: 1%;
  margin: 0.5% 0;
  border-top: outset #cfdae6 1.5px;
  border-left: dashed #cfdae6 0.5px;
  border-right: dashed #cfdae6 0.5px;
  border-radius: 10px;
  flex-direction: column;
}
.mainContainer .contentMain .workExperienceMainSection .workExperienceCompany {
  padding: 1%;
  margin: 0.5% 0;
  border: outset #cfdae6 1px;
  background-color: #fdfff9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainContainer .contentMain .workExperienceMainSection .workExperienceCompany .workExperienceCompanyHeader {
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 0.5% 0;
  border: outset #cfdae6 1px;
  background-color: #fbfeff;
}
.mainContainer .contentMain .workExperienceMainSection .workExperienceCompany .workExperienceCompanyHeader .workExperienceCompanyHeaderPositionDates {
  display: flex;
  justify-content: space-between;
}
.mainContainer .contentMain .workExperienceMainSection .workExperienceCompany .workExperienceCompanyHeader .workExperienceCompanyHeaderNameLocation {
  display: flex;
  justify-content: space-between;
}
.mainContainer .contentMain .workExperienceMainSection .workExperienceCompany .workExperienceCompanyJobdescription {
  margin: 1% 0;
  line-height: 150%;
  padding: 1%;
  margin: 0.5% 0;
}
.mainContainer .contentMain .referencesMainSection {
  background-color: hsl(197, 100%, 97%);
  padding: 1%;
  margin: 0.5% 0;
  border-top: outset #cfdae6 1.5px;
  border-left: dashed #cfdae6 0.5px;
  border-right: dashed #cfdae6 0.5px;
  border-radius: 10px;
  border-bottom: solid #cfdae6 1px;
}
.mainContainer .contentMain .referencesMainSection .referencesAll {
  padding: 1%;
  margin: 0.5% 0;
  border: outset #cfdae6 1px;
  background-color: #fdfff9;
}
.mainContainer .contentMain .referencesMainSection .referencesAll .referencesSpanTitle {
  text-decoration: underline;
  text-align: center;
}
.mainContainer .contentMain .referencesMainSection .referencesAll li {
  background-color: #fbfeff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainContainer .contentMain .referencesMainSection .referencesAll li:nth-child(odd) {
  background-color: hsl(197, 100%, 97%);
  border: dashed 1px #cfdae6;
}
.mainContainer .contentMain .referencesMainSection .referencesAll * {
  line-height: 150%;
}
.mainContainer .contentMain .referencesMainSection .referencesAll .referenceName,
.mainContainer .contentMain .referencesMainSection .referencesAll .referenceNumber {
  padding: 0 1%;
}
@media (max-width: 500px) {
  .mainContainer .contentMain {
    flex-direction: column;
  }
}
.mainContainer .footerMain {
  text-align: center;
  padding: 1%;
  margin: 0.5% 0;
  border: outset #cfdae6 0.1px;
}
.mainContainer .footerMain .button {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  background-color: #fbfeff;
  border-radius: 8px;
}
.mainContainer .footerMain .button span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer .footerMain .button:link {
  border: outset #cfdae6 2px;
}
.mainContainer .footerMain .button:visited {
  text-decoration: none;
  border: outset #cfdae6 2px;
}
.mainContainer .footerMain .button:hover {
  border: outset #cfdae6 2px;
  background-color: hsl(197, 100%, 97%);
}
.mainContainer .footerMain .button:active {
  border: inset #cfdae6 2px;
}
@media (max-width: 500px) {
  .mainContainer .footerMain .button {
    padding: 15px;
  }
}
@media (max-width: 500px) {
  .mainContainer .footerMain {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .mainContainer {
    width: 500px;
  }
}
