/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
  font-size: 1rem;
  background-color: hsl(197, 100%, 97%);
}
html h1 {
  font-size: 2rem;
  text-decoration: underline;
}
html h2 {
  font-size: 1.8rem;
}
html h3 {
  font-size: 1.6rem;
}
html h4 {
  font-size: 1.4rem;
}
html h5 {
  font-size: 1.2rem;
}
html h6 {
  font-size: 1.1rem;
}
.mainContainer {
  width: 900px;
  margin: 0 auto;
  display: block;
}
.mainContainer .headerMain {
  background-color: hsl(197, 100%, 97%);
  border: outset #cfdae6 1px;
  padding: 1%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.mainContainer .headerMain .headerMainTitle {
  width: 39%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.mainContainer .headerMain .navContainer {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.mainContainer .headerMain .navContainer .navSection {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}
.mainContainer .headerMain .navContainer .navSection .button {
  text-decoration: none;
  color: black;
  background-color: #fdfff9;
}
.mainContainer .headerMain .navContainer .navSection .button:link {
  border: outset #cfdae6 2px;
  border-radius: 8px;
  padding: 2%;
}
.mainContainer .headerMain .navContainer .navSection .button:visited {
  text-decoration: none;
  border: outset #cfdae6 2px;
}
.mainContainer .headerMain .navContainer .navSection .button:hover {
  border: outset #cfdae6 2px;
  background-color: #fbfeff;
}
.mainContainer .headerMain .navContainer .navSection .button:active {
  border: inset #cfdae6 2px;
}
.mainContainer .headerMain .navContainer .navSection #skipNav {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.mainContainer .contentMain {
  background-color: #fbfeff;
  padding: 1%;
  border: outset #cfdae6 1px;
  display: flex;
  flex-direction: column;
}
.mainContainer .contentMain .educationMainSection {
  background-color: hsl(197, 100%, 97%);
  padding: 1%;
  border-top: outset #cfdae6 1.5px;
  border-left: outset #cfdae6 1px;
  border-right: outset #cfdae6 1px;
  border-radius: 10px;
}
.mainContainer .contentMain .educationMainSection .educationSchool {
  border: outset #cfdae6 1px;
  background-color: #fdfff9;
  padding: 1%;
}
.mainContainer .contentMain .skillsMainSection {
  background-color: hsl(197, 100%, 97%);
  border-top: outset #cfdae6 1.5px;
  border-left: outset #cfdae6 1px;
  border-right: outset #cfdae6 1px;
  border-radius: 10px;
  padding: 1%;
}
.mainContainer .contentMain .skillsMainSection .skillsComputerApplications {
  padding: 1%;
  border: outset #cfdae6 1px;
  background-color: #fdfff9;
}
.mainContainer .contentMain .skillsMainSection .skillsComputerLanguages {
  padding: 1%;
  border: outset #cfdae6 1px;
  background-color: #fdfff9;
}
.mainContainer .contentMain .workExperienceMainSection {
  background-color: hsl(197, 100%, 97%);
  display: flex;
  padding: 1%;
  border-top: outset #cfdae6 1.5px;
  border-left: outset #cfdae6 1px;
  border-right: outset #cfdae6 1px;
  border-radius: 10px;
  flex-direction: column;
}
.mainContainer .contentMain .workExperienceMainSection .workExperienceCompany {
  padding: 1%;
  border: outset #cfdae6 1px;
  background-color: #fdfff9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainContainer .contentMain .workExperienceMainSection .workExperienceCompany .workExperienceCompanyHeader {
  display: flex;
  flex-direction: column;
}
.mainContainer .contentMain .workExperienceMainSection .workExperienceCompany .workExperienceCompanyHeader .workExperienceCompanyHeaderPositionDates {
  display: flex;
  justify-content: space-between;
}
.mainContainer .contentMain .workExperienceMainSection .workExperienceCompany .workExperienceCompanyHeader .workExperienceCompanyHeaderNameLocation {
  display: flex;
  justify-content: space-between;
}
.mainContainer .contentMain .workExperienceMainSection .workExperienceCompany .workExperienceCompanyJobdescription {
  margin: 1% 0;
  line-height: 120%;
}
.mainContainer .contentMain .referencesMainSection {
  background-color: hsl(197, 100%, 97%);
  padding: 1%;
  border-top: outset #cfdae6 1.5px;
  border-left: outset #cfdae6 1px;
  border-right: outset #cfdae6 1px;
  border-radius: 10px;
  border-bottom: solid #cfdae6 1px;
}
.mainContainer .contentMain .referencesMainSection .referencesPersonal {
  padding: 1%;
  border: outset #cfdae6 1px;
  background-color: #fdfff9;
}
.mainContainer .contentMain .referencesMainSection .referencesWork {
  padding: 1%;
  border: outset #cfdae6 1px;
  background-color: #fdfff9;
}
.mainContainer .footerMain {
  padding: 1%;
  border: outset #cfdae6 1px;
  background-color: hsl(197, 100%, 97%);
}
