// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

html {
	font-size: 62.5%;
	font-size: 1rem;
	background-color: @themeColor3;
	h1 {
		font-size: 2rem;
		text-decoration: underline;
	}
	h2 {
		font-size: 1.8rem;
	}
	h3 {
		font-size: 1.6rem;
	}
	h4 {
		font-size: 1.4rem;
	}
	h5 {
		font-size: 1.2rem;
	}
	h6{
		font-size: 1.1rem;
	}
}

//start of variables
@themeColor: rgb(207, 218, 230);
@themeColor2: rgb(253, 255, 249);
@themeColor3: hsl(197, 100%, 97%);
@themeColor4: rgb(251, 254, 255);
//end variables section

//start of mixins section
.pad(){
	padding: 1%
}

.bordertest(){
	border: solid red 1px;
}

.bordertest2(){
	border: solid blue 1px;
}

.sectionBorder(){
	border-top: outset @themeColor 1.5px;
	border-left: outset @themeColor 1px;
	border-right: outset @themeColor 1px;
	border-radius: 10px;
}

.mainBorder(){
	border: outset @themeColor 1px;
}

.bgRise(){
	border: outset @themeColor 1px;
	background-color: @themeColor2;
}

.buttonStyle(){
	.button{
		text-decoration: none;
		color: black;
		background-color: @themeColor2;
	}
	.button:link{
		border: outset @themeColor 2px;
		border-radius: 8px;
		padding: 2%;
	}
	.button:visited{
		text-decoration: none;
		border: outset @themeColor 2px;
	}

	.button:hover{
		border: outset @themeColor 2px;
		background-color: @themeColor4;
	}
	.button:active{
		border: inset @themeColor 2px;
	}
}

//end mixins section

.mainContainer {
	width: 900px;
	margin: 0 auto;
	display: block;
	.headerMain {
		background-color: @themeColor3;
		.mainBorder();
		.pad();
		display:flex;
		justify-content: center;
		flex-direction: row;
		.headerMainTitle{
			width: 39%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
		}//end .headerMainTitle

		.navContainer{
			width: 60%;
			display: flex;
			justify-content: flex-end;
			.navSection{
				.buttonStyle();
				width: 70%;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				text-decoration: none;
				#skipNav{
						position: absolute;
						left:-10000px;
						top: auto;
						width: 1px;
						height: 1px;
						overflow: hidden;
				}//end #skipnav... displays none for screen reader accessibility only
			}//end .navSection

		}//end .navContainer

	}//end .headerMain

	.contentMain{
		background-color: @themeColor4;
		.pad();
		.mainBorder();
		display: flex;
		flex-direction: column;
		.educationMainSection{
			background-color: @themeColor3;
			.pad();
			.sectionBorder();
			.educationSchool{
				.bgRise();
				.pad();
			}//end .educationSchool

		}//end .educationmainSection

		.skillsMainSection{
			background-color: @themeColor3;
			.sectionBorder();
			.pad();
			.skillsComputerApplications{
				.pad();
				.bgRise();
			}//end .skillsComputerApplications
			.skillsComputerLanguages{
				.pad();
				.bgRise();
			}//end .skillsComputerLanguages

		}//end .skillsMainSection

		.workExperienceMainSection{
			background-color: @themeColor3;
			display: flex;
			.pad();
			.sectionBorder();
			flex-direction: column;
			.workExperienceCompany{
				.pad();
				.bgRise();
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.workExperienceCompanyHeader{
					display: flex;
					flex-direction: column;
					.workExperienceCompanyHeaderPositionDates{
						display: flex;
						justify-content: space-between;
					}//end .workExperienceCompanyHeaderPositionDates

					.workExperienceCompanyHeaderNameLocation{
						display: flex;
						justify-content: space-between;
					}//end .workExperienceCompanyHeaderNameLocation

				}//end .workExperienceCompanyHeader

				.workExperienceCompanyJobdescription{
					margin: 1% 0;
					line-height: 120%;
				}

			}//end .workExperienceDevry

		}//end .workExperienceMainSection

		.referencesMainSection{
			background-color: @themeColor3;
			.pad();
			.sectionBorder();
			border-bottom: solid @themeColor 1px;
			.referencesPersonal{
				.pad();
				.bgRise();
			}
			.referencesWork{
				.pad();
				.bgRise();
			}

		}

	}//end .contentMain

	.footerMain{
		.pad();
		.mainBorder();
		background-color: @themeColor3;
	}
}//end .mainContainer


